# Pagila SQL files are public-domain; do not commit (size, license clarity).
# Download fresh via dbTest/README.md instructions.
init/01-schema.sql
init/02-data.sql

# MySQL Sakila files
mysql/init/*.sql

# MSSQL AdventureWorksLT files
mssql/backup/*.bak

# Local artefacts
*.tmp
*.bak
